In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('voice_train.csv')
df_test = pd.read_csv('voice_test.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2851 entries, 0 to 2850
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        2851 non-null   int64
 1   meanfreq  2851 non-null   float64
 2   sd        2851 non-null   float64
 3   median    2851 non-null   float64
 4   Q25       2851 non-null   float64
 5   Q75       2851 non-null   float64
 6   IQR       2851 non-null   float64
 7   skew      2851 non-null   float64
 8   kurt      2851 non-null   float64
 9   sp.ent    2851 non-null   float64
 10  sfm       2851 non-null   float64
 11  mode      2851 non-null   float64
 12  centroid  2851 non-null   float64
 13  meanfun   2851 non-null   float64
 14  minfun    2851 non-null   float64
 15  maxfun    2851 non-null   float64
 16  meandom   2851 non-null   float64
 17  mindom    2851 non-null   float64
 18  maxdom    2851 non-null   float64
 19  dfrange   2851 non-null   float64
 20  modindx   2851 non-null   float64
 21  label     2851 non-null   object
dtypes: float64(20), int64(1), object(1)
memory usage: 490.1+ KB

In [7]:
df['label'].value_counts()

female    1432
male      1419
Name: label, dtype: int64

In [9]:
df.duplicated().value_counts()

False    2851
dtype: int64

In [16]:
df.columns

Index(['Id', 'meanfreq', 'sd', 'median', 'Q25', 'Q75', 'IQR', 'skew', 'kurt',
       'sp.ent', 'sfm', 'mode', 'centroid', 'meanfun', 'minfun', 'maxfun',
       'meandom', 'mindom', 'maxdom', 'dfrange', 'modindx', 'label'],
      dtype='object')

In [19]:
df['label'].value_counts()

0    1432
1    1419
Name: label, dtype: int64

In [18]:
df['label'].replace('female',0, inplace=True)
df['label'].replace('male',1, inplace=True)

In [29]:
df.corr()['label'].sort_values(ascending=False)

label       1.000000
IQR         0.609044
sp.ent      0.484417
sd          0.467738
sfm         0.347043
kurt        0.083386
Q75         0.073227
modindx     0.032219
skew        0.029698
minfun     -0.125165
maxfun     -0.164238
mode       -0.165029
meandom    -0.185873
dfrange    -0.187508
mindom     -0.189614
maxdom     -0.190841
median     -0.271785
centroid   -0.324928
meanfreq   -0.324928
Q25        -0.499747
meanfun    -0.831180
Id         -0.864980
Name: label, dtype: float64

In [30]:
df_test

,Id,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,...,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx
0,2148,0.186833,0.027472,0.184325,0.173955,0.204731,0.030777,2.655225,10.565846,0.821812,...,0.180645,0.186833,0.172790,0.023495,0.271186,0.178571,0.007812,0.226562,0.218750,0.108929
1,1124,0.188879,0.060316,0.195537,0.138072,0.242975,0.104904,1.497393,5.037085,0.909425,...,0.140386,0.188879,0.133092,0.050847,0.272727,0.855938,0.023438,8.718750,8.695312,0.098712
2,170,0.150705,0.087127,0.174299,0.069666,0.226082,0.156416,2.603951,22.328899,0.969287,...,0.050181,0.150705,0.109992,0.017260,0.266667,1.240954,0.007812,5.562500,5.554688,0.332396
3,3158,0.183667,0.040607,0.182534,0.156480,0.207646,0.051166,2.054138,7.483019,0.898138,...,0.177040,0.183667,0.149237,0.018648,0.262295,0.550312,0.007812,3.421875,3.414062,0.166503
4,2229,0.205159,0.039543,0.210805,0.186667,0.228908,0.042241,2.099683,7.562209,0.876002,...,0.224885,0.205159,0.154736,0.047105,0.277457,1.578835,0.187500,10.804688,10.617188,0.113644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,3085,0.161414,0.058721,0.168799,0.155354,0.187696,0.032343,6.983165,62.015963,0.883244,...,0.168799,0.161414,0.152409,0.018282,0.172414,0.187800,0.034180,0.683594,0.649414,0.062857
313,1632,0.196856,0.062991,0.214238,0.193520,0.229305,0.035785,3.540719,19.561051,0.894763,...,0.217691,0.196856,0.163254,0.016327,0.275862,0.419398,0.007812,5.289062,5.281250,0.087395
314,2893,0.208788,0.039871,0.200610,0.188232,0.239878,0.051646,2.429290,10.293602,0.860193,...,0.195061,0.208788,0.170176,0.047666,0.279070,1.677455,0.023438,7.125000,7.101562,0.173157
315,1106,0.185915,0.060364,0.197474,0.132632,0.237632,0.105000,0.905155,3.204754,0.934194,...,0.226579,0.185915,0.129221,0.046967,0.277457,1.024816,0.023438,5.320312,5.296875,0.154559
316,1488,0.158762,0.063993,0.164383,0.103759,0.209889,0.106130,2.310123,10.436371,0.931223,...,0.103314,0.158762,0.090384,0.016194,0.150943,0.586143,0.093750,4.937500,4.843750,0.059493

In [52]:
# df.drop('post_code',axis=1,inplace=True)
# df.drop('post_area',axis=1,inplace=True)

# df['gender'].replace('Unknown',np.NaN, inplace=True)
# df['gender'].fillna(value='Female', inplace=True)

# df['gender'].replace('Female',0, inplace=True)
# df['gender'].replace('Male',1, inplace=True)

# df['self_employed'].replace('No',0, inplace=True)
# df['self_employed'].replace('Yes',1, inplace=True)

# df['self_employed_partner'].replace('No',0, inplace=True)
# df['self_employed_partner'].replace('Yes',1, inplace=True)


# df['children'].replace(to_replace=['Zero', '1', '2', '3', '4+'], value=[0,1, 2, 3,4], inplace=True)

# df['TVarea'].replace(
#     to_replace=['Central', 'Carlton', 'Meridian', 'Yorkshire','Granada', 'HTV','Anglia', 'Tyne Tees','Scottish TV', 'TV South West','Grampian', 'Unknown','Ulster','Border'], 
#     value=[0,1, 2, 3,4,5,6,7,8,9,10,11,12,13], 
#     inplace=True)

# df['region'].replace(
#     to_replace=['South East', 'North West', 'Unknown', 'South West','West Midlands', 'East Midlands','Scotland', 'North','Wales', 'East Anglia','Northern Ireland', 'Isle of Man','Channel Islands'], 
#     value=[0,1, 2, 3,4,5,6,7,8,9,10,11,12], 
#     inplace=True)

# df['age_band'].replace(
#     to_replace=['Unknown', '18-21', '22-25', '26-30','31-35', '36-40','41-45', '45-50','51-55', '55-60','61-65', '65-70','71+'], 
#     value=[0,1, 2, 3,4,5,6,7,8,9,10,11,12], 
#     inplace=True)

# df['family_income'].replace(
#     to_replace=['>=35,000', '<27,500, >=25,000', '<30,000, >=27,500', '<25,000, >=22,500','<12,500, >=10,000','<20,000, >=17,500','<17,500, >=15,000','<15,000, >=12,500','<22,500, >=20,000','<10,000, >= 8,000','< 8,000, >= 4,000','< 4,000','Unknown'], 
#     value=[0,1, 2, 3,4,5,6,7,8,9,10,11,12], 
#     inplace=True)

# df['home_status'].replace(
#     to_replace=['Own Home', 'Rent from Council/HA', 'Rent Privately', 'Live in Parental Hom','Unclassified'], 
#     value=[0,1, 2, 3,4], 
#     inplace=True)

# df['status'].replace(
#     to_replace=['Partner', 'Single/Never Married', 'Divorced/Separated', 'Widowed','Unknown'], 
#     value=[0,1, 2, 3,4], 
#     inplace=True)

# df['occupation'].replace(
#     to_replace=['Professional', 'Retired', 'Secretarial/Admin', 'Housewife','Business Manager','Manual Worker','Unknown','Other','Student'], 
#     value=[0,1, 2, 3,4,5,6,7,8], 
#     inplace=True)

# df['occupation_partner'].replace(
#     to_replace=['Professional', 'Retired', 'Secretarial/Admin', 'Housewife','Business Manager','Manual Worker','Unknown','Other','Student'], 
#     value=[0,1, 2, 3,4,5,6,7,8], 
#     inplace=True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2851 entries, 0 to 2850
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        2851 non-null   int64
 1   meanfreq  2851 non-null   float64
 2   sd        2851 non-null   float64
 3   median    2851 non-null   float64
 4   Q25       2851 non-null   float64
 5   Q75       2851 non-null   float64
 6   IQR       2851 non-null   float64
 7   skew      2851 non-null   float64
 8   kurt      2851 non-null   float64
 9   sp.ent    2851 non-null   float64
 10  sfm       2851 non-null   float64
 11  mode      2851 non-null   float64
 12  centroid  2851 non-null   float64
 13  meanfun   2851 non-null   float64
 14  minfun    2851 non-null   float64
 15  maxfun    2851 non-null   float64
 16  meandom   2851 non-null   float64
 17  mindom    2851 non-null   float64
 18  maxdom    2851 non-null   float64
 19  dfrange   2851 non-null   float64
 20  modindx   2851 non-null   float64
 21  label     2851 non-null   int64
dtypes: float64(20), int64(2)
memory usage: 490.1 KB

In [32]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        317 non-null    int64
 1   meanfreq  317 non-null    float64
 2   sd        317 non-null    float64
 3   median    317 non-null    float64
 4   Q25       317 non-null    float64
 5   Q75       317 non-null    float64
 6   IQR       317 non-null    float64
 7   skew      317 non-null    float64
 8   kurt      317 non-null    float64
 9   sp.ent    317 non-null    float64
 10  sfm       317 non-null    float64
 11  mode      317 non-null    float64
 12  centroid  317 non-null    float64
 13  meanfun   317 non-null    float64
 14  minfun    317 non-null    float64
 15  maxfun    317 non-null    float64
 16  meandom   317 non-null    float64
 17  mindom    317 non-null    float64
 18  maxdom    317 non-null    float64
 19  dfrange   317 non-null    float64
 20  modindx   317 non-null    float64
dtypes: float64(20), int64(1)
memory usage: 52.1 KB

In [33]:
df.shape

(2851, 22)

In [34]:
df_test.shape

(317, 21)

In [35]:
X = df.drop('label',axis=1)
y = df['label']

In [36]:
X.shape

(2851, 21)

In [37]:
y.shape

(2851,)

In [ ]:
# from sklearn.datasets import make_classification
# from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import train_test_split
# from sklearn.pipeline import make_pipeline,Pipeline
# from sklearn.preprocessing import StandardScaler

# #X, y = make_classification(random_state=1)
# #X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.35)
# pipe = make_pipeline(StandardScaler(), LogisticRegression(random_state=19))
# pipe.fit(X, y)  # apply scaling on training data
# Pipeline(steps=[('standardscaler', StandardScaler()),('logisticregression', LogisticRegression())])
# y_test = pipe.predict(df_test)
# pipe.score(y_test, y)  # apply scaling on testing data, without leaking training data.

In [38]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0).fit(X, y)
clf.predict(X[:-1])

clf.score(X, y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.98105927744651

In [39]:
y_predicted = clf.predict(df_test)

In [40]:
y_predicted

array([0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1], dtype=int64)

In [41]:
df_test

,Id,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,...,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx
0,2148,0.186833,0.027472,0.184325,0.173955,0.204731,0.030777,2.655225,10.565846,0.821812,...,0.180645,0.186833,0.172790,0.023495,0.271186,0.178571,0.007812,0.226562,0.218750,0.108929
1,1124,0.188879,0.060316,0.195537,0.138072,0.242975,0.104904,1.497393,5.037085,0.909425,...,0.140386,0.188879,0.133092,0.050847,0.272727,0.855938,0.023438,8.718750,8.695312,0.098712
2,170,0.150705,0.087127,0.174299,0.069666,0.226082,0.156416,2.603951,22.328899,0.969287,...,0.050181,0.150705,0.109992,0.017260,0.266667,1.240954,0.007812,5.562500,5.554688,0.332396
3,3158,0.183667,0.040607,0.182534,0.156480,0.207646,0.051166,2.054138,7.483019,0.898138,...,0.177040,0.183667,0.149237,0.018648,0.262295,0.550312,0.007812,3.421875,3.414062,0.166503
4,2229,0.205159,0.039543,0.210805,0.186667,0.228908,0.042241,2.099683,7.562209,0.876002,...,0.224885,0.205159,0.154736,0.047105,0.277457,1.578835,0.187500,10.804688,10.617188,0.113644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,3085,0.161414,0.058721,0.168799,0.155354,0.187696,0.032343,6.983165,62.015963,0.883244,...,0.168799,0.161414,0.152409,0.018282,0.172414,0.187800,0.034180,0.683594,0.649414,0.062857
313,1632,0.196856,0.062991,0.214238,0.193520,0.229305,0.035785,3.540719,19.561051,0.894763,...,0.217691,0.196856,0.163254,0.016327,0.275862,0.419398,0.007812,5.289062,5.281250,0.087395
314,2893,0.208788,0.039871,0.200610,0.188232,0.239878,0.051646,2.429290,10.293602,0.860193,...,0.195061,0.208788,0.170176,0.047666,0.279070,1.677455,0.023438,7.125000,7.101562,0.173157
315,1106,0.185915,0.060364,0.197474,0.132632,0.237632,0.105000,0.905155,3.204754,0.934194,...,0.226579,0.185915,0.129221,0.046967,0.277457,1.024816,0.023438,5.320312,5.296875,0.154559
316,1488,0.158762,0.063993,0.164383,0.103759,0.209889,0.106130,2.310123,10.436371,0.931223,...,0.103314,0.158762,0.090384,0.016194,0.150943,0.586143,0.093750,4.937500,4.843750,0.059493

In [42]:
sub_df = df_test['Id']
sub_df.shape

(317,)

In [43]:
sub_df = pd.DataFrame(sub_df)
sub_df.shape

(317, 1)

In [44]:
y_predicted = pd.DataFrame(y_predicted)
y_predicted.shape

(317, 1)

In [81]:
y_predicted

      0
0     2
1     2
2     2
3     2
4     2
...  ..
2026  2
2027  2
2028  1
2029  1
2030  2

[2031 rows x 1 columns]

In [45]:
submit_df = pd.concat([sub_df,y_predicted],axis=1)

In [46]:
submit_df.shape

(317, 2)

In [47]:
submit_df[0].value_counts()

1    161
0    156
Name: 0, dtype: int64

In [48]:
submit_df.to_csv('submission.csv', index=False, header=False)

In [110]:
testdf = df[['Investment_in_Mutual_Fund','Revenue_Grid']]

In [111]:
testdf.groupby(['Revenue_Grid']).sum()

              Investment_in_Mutual_Fund
Revenue_Grid
1                              53594.73
2                             285368.02